<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>First Name</strong>: <%= user.local.firstname %><br>
                        <strong>Last Name</strong>: <%= user.local.lastname %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                        <strong>Type</strong>: <%= user.local.job %>
                    </p>

            </div>
        </div>
        
        <!-- GLOBAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Other Users</h3>

                    <p>
                        <% if( Array.isArray(people) ) { %>
                        <ul>
                        <%people.forEach( function( us ){ %>
                        <strong>id</strong>: <%= us._id %><br>
                        <strong>First Name</strong>: <%= us.local.firstname %><br>
                        <strong>Last Name</strong>: <%= us.local.lastname %><br>
                        <strong>email</strong>: <%= us.local.email %><br>
                        <strong>Type</strong>: <%= us.local.job %><br>
                        <hr>
                        <% })} else { %>
                        <b>
                        Id: <%= us.local.firstname %>
                        Name: <%= us.local.lastname %>
                        Price: $<%= us.local.email %>
                        </b>
                        <% }; %>
                    </p>

            </div>
        </div>
    </div>

</div>
</body>
</html>